<button mat-raised-button (click)="addDragon()">Add Dragon</button>
<button mat-raised-button (click)="setParameters()">Parameters</button>
<button mat-raised-button (click)="resetParameters()">Reset</button>

<mat-table [dataSource]="dragonList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="coordinates">
      <mat-header-cell *matHeaderCellDef> Coordinates </mat-header-cell>
      <mat-cell *matCellDef="let element" class="coordinate">X={{element.coordinates.x}}, Y={{element.coordinates.y}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="creation">
      <mat-header-cell *matHeaderCellDef> Creation Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
          {{element.creationDate.date.day}}.{{element.creationDate.date.month}}.{{element.creationDate.date.year}}
          {{element.creationDate.time.hour}}:{{element.creationDate.time.minute}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="character">
        <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.character}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="killer">
        <mat-header-cell *matHeaderCellDef> Killer </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="element.killer else killerNull">Name:{{element.killer.name}}, Passport:{{element.killer.passportId}}, Eyes:{{element.killer.eyeColor}}, Hairs:{{element.killer.hairColor}}</span>
            <ng-template #killerNull>Null</ng-template>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <input type="button" value="Delete" (click)="deleteDragon(element.id)" class="btn btn-danger"/>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <input type="button" value="Edit" (click)="editDragon(element)" class="btn btn-default"/>
        </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>