<h1 mat-dialog-title>{{dialogTitle}}</h1>

<mat-dialog-content [formGroup]="dragonForm">
    
    <mat-form-field appearance="fill">
        <mat-label>Dragon name</mat-label>
        <input formControlName="name" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Coordinates X</mat-label>
        <input formControlName="x" matInput type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Coordinate Y</mat-label>
        <input formControlName="y" max="350" matInput type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Creation date</mat-label>
        <input formControlName="creationDate" type="datetime-local" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Dragon age</mat-label>
        <input formControlName="age" type="number" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color" name="color">
            <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" name="type">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Character</mat-label>
        <mat-select formControlName="character" name="character">
            <mat-option *ngFor="let character of characters" [value]="character">{{character}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Killer name</mat-label>
        <input formControlName="personName" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Killer passport</mat-label>
        <input formControlName="passportId" type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Killer eye</mat-label>
        <mat-select formControlName="eyeColor" name="eyeColor">
            <mat-option *ngFor="let eyeColor of colors" [value]="eyeColor">{{eyeColor}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Killer hair</mat-label>
        <mat-select formControlName="hairColor" name="hairColor">
            <mat-option *ngFor="let hairColor of colors" [value]="hairColor">{{hairColor}}</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial [disabled]="dragonForm.invalid && dragonForm.touched">Save</button>
</div>

