<h1 mat-dialog-title>{{dialogTitle}}</h1>

<mat-dialog-content [formGroup]="deleteForm">
    <mat-form-field appearance="fill">
        <mat-label>Character</mat-label>
        <mat-select formControlName="character" name="character">
            <mat-option *ngFor="let character of characters" [value]="character">{{character}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Submit</button>
  </div>
