/target
.idea

/servlet-andrei.teplykh.service/target
/second-andrei.teplykh.service/target
/ejb/target

/ejb/ejb.iml
/second-andrei.teplykh.service/second-andrei.teplykh.service.iml

/servlet-andrei.teplykh.service/src/main/java/controllers/PersonController.java
/servlet-andrei.teplykh.service/src/main/java/controllers/CoordinatesController.java
