/target
.idea

/servlet-service/target
/second-service/target
/ejb/target

/ejb/ejb.iml
/second-service/second-service.iml

/servlet-andrei.teplykh.service/src/main/java/controllers/PersonController.java
/servlet-andrei.teplykh.service/src/main/java/controllers/CoordinatesController.java

*.txt
*.png
*.ico
*.js
*.ttf
*.eot
*.woff
*.css
*.html
*.svg